body {
    background-color: #E8B2A9;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#catto {
    width: auto;
    height: 300px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#btn {
    width: auto;
    height: auto;
    font-size: 1em;
    letter-spacing: 3px;
    background-color: #916C67;
    color: #F8EBE6;
    margin-top: 40px;
    padding: 4% 4% 4% 4%;
    user-select: none;
    border-radius: 30px;
}