body {
    background-color: #E8B2A9;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#catto {
    width: auto;
    height: 300px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#btn {
    width: 150px;
    height: 70px;
    font-size: 2em;
    letter-spacing: 3px;
    border: 3px solid #E0D0C6;
    background-color: #fff;
    color: #000;
    margin-top: 40px;
    user-select: none;
    border-radius: 30px;
}